.MessageForm {
    display: flex;
    flex-direction: row;
}

.MessageInput {
    flex: 1;
    padding: 20px;
    border: 0;
    border-top: 1px solid #ccc;
    background-color: rgb(216, 214, 245);
    border: 1px solid rgb(81, 75, 156);
}